/*
Template:	GT-FREE
File:		gt-styles.css - This contains all the Gooey styles for the template.

All the styles are separted into the following groups:
HTML, Body - for the html and body tags
Layout - any style that defines how the site is laid out (position and size of objects)
Modules - styles for modules
Nav - navigation bar
Headings - headings like h1, h2, etc
Text Styles - Styles for text
Lists - unordered and ordered lists
Forms - html forms
Links - links
Misc - anything that doesn't fit elsewhere
*/

/* @group HTML, Body */
body {
	font-family: "Trebuchet MS", sans-serif;
}
/* @end */

/* @group Layout */
/* Heading Styles */
.gt-hd {
	background-color: #2c2c2c;
	padding-top: 1px;
}
.gt-hd .gt-logo {
	margin-left: 25px;
	margin-bottom: 10px;
	margin-top: 15px;
	color: #fff;
	font-size: 215%;
	font-weight: normal;
	float: left;
	display: inline;
}

/* Body Styles */
.gt-bd {
	padding: 15px 35px;
}
.gt-cols .gt-content {
	width: 65%;
	float: left;
	display: inline;
}
.gt-cols .gt-sidebar {
	width: 30%;
	float: right;
	display: inline;
}
.gt-left-col {
	width: 48%;
	float: left;
	display: inline;
}
.gt-right-col {
	width: 48%;
	float: right;
	display: inline;
}

/* Footer Styles */
.gt-footer {
	clear: both;
	border-top: 1px solid #aaa;
	font-size: 93%;
	color: #666666;
	padding: 10px;
	margin: 20px 35px;
	text-align: center;
}
/* @end */

/* @group Modules */
/* Width Styles */
.gt-width-33 {
	width: 33%;
}
.gt-width-66 {
	width: 66%;
}
.gt-width-99 {
	width: 99%;
}
.gt-width-25 {
	width: 25%;
}
.gt-width-50 {
	width: 50%;
}
.gt-width-75 {
	width: 75%;
}
.gt-width-100 {
	width: 100%;
}


/* @end */

/* @group Nav */
/* Main Navigation */
.gt-nav {
	margin-left: 20px;
	clear: both;
}
.gt-nav ul li {
	background-color: #ccc;
	margin: 0 2px;
	float: left;
	display: inline;
}
.gt-nav ul li a {
	display: block;
	padding: .75em 2.2em;
	font-weight: bold;
	float: left;
	display: inline;
}
.gt-nav a:link, .gt-nav a:visited {
	color: #333;
	text-decoration: none;
	font-size: 108%;
}
.gt-nav a:hover {
	color: #000;
}


/* @end */

/* @group Headings */
h1 {
	font-size: 182%;
	color: #6caa00;
	margin-bottom: 10px;
}

/* H2 */
h2 {
	font-size: 161.6%;
	color: #6caa00;
	margin-bottom: 10px;
}
h3 {
	font-size: 138.5%;
	color: #333;
	margin-bottom: 10px;
}
h4 {
	font-size: 123.1%;
	color: #333;
	margin-bottom: 10px;
	font-weight: bold;
}
h5 {
	font-size: 123.1%;
	color: #333;
	margin-bottom: 10px;
}
h6 {
	font-size: 100%;
	color: #6caa00;
	margin-bottom: 10px;
	font-weight: bold;
}
/* @end */

/* @group Text Styles */
address {
	margin-bottom: 10px;
}
blockquote {
	margin: 10px 40px 20px 40px;
	font-style: italic;
}
code {
	font-family: monospace;
}
dl {
	margin-left: 30px;
	margin-bottom: 20px;
}
dl dt {
	font-weight: bold;
}
dl dd {
	margin-left: 10px;
	margin-bottom: 5px;
}
em {
	font-style: italic;
}
p {
	margin-bottom: 10px;
	line-height: 130%;
}
q {
	font-style: italic;
}
strong {
	font-weight: bold;
}
tt {
	font-family: monospace;
}


/* Custom Text Classes */
.gt-error {
	background-color: #cc0000;
	padding: .5em;
	color: #fff;
}
.gt-notice-box {
	border: 3px solid #aaa;
	padding: 1em;
	background-color: #f5f9ea;
}
.gt-success {
	background-color: #6caa00;
	padding: .5em;
	color: #fff;
}
/* @end */

/* @group Lists */
ol {
	margin-bottom: 20px;
}
ol li {
	list-style-type: decimal;
	margin-left: 40px;
	margin-bottom: 2px;
}
ul {
	margin-bottom: 20px;
}
ul li {
	list-style-type: disc;
	margin-left: 35px;
	margin-bottom: 2px;
}
/* @end */

/* @group Forms */
/* Default Form */

/* @end */

/* @group Links - link visited hover active */
a:link, a:visited {
	color: #6caa00;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
/* @end */

/* @group Misc */
.clear {
	clear: both;
}
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/* @end */